h1 {
    color: blue;
    background-color: pink;
    width: 500px;
    height: 200px;
    margin-left: 200px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}
p {
    color: red;
    font-size: 20px;
}
.target {
    color: blue;
}

